<div class="box">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Q-Pon
                </h1>
                <h2 class="subtitle">
                    Redeem your coins for dinning coupons
                </h2>
            </div>
        </div>
    </section>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile" id="pdata">
                   
                   
            </div>
        </div>
        <div class="tile is-vertical is-4">
            <form action="/search" method="POST" onsubmit="submitForm(2,0);return false">
                <div class="field">
                    <label class="label">Region</label>
                    <div class="control">
                        <div class="select">
                            <select name="region" id="region">
                                <option>HK Island</option>
                                <option>Kowloon</option>
                                <option>New Territories</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Max Coins</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Text input" name="maxCoins" id="maxCoins" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Min Coins</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Text input" name="minCoins" id="minCoins" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Deal Valid Till</label>
                    <div class="control">
                        <input class="input" type="date" placeholder="Text input" name="date" id="date" required>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" id="previousButton">Previous</a>
        <a class="pagination-next" id="nextButton">Next page</a>
        <ul class="pagination-list">
            <li>
                <a class="pagination-link" id="firstLink">1</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" id="previousLink">45</a>
            </li>
            <li>
                <a class="pagination-link is-current" id="currentLink">46</a>
            </li>
            <li>
                <a class="pagination-link" id="nextLink">47</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" id="lastLink">86</a>
            </li>
        </ul>
    </nav>
</div>
<script>
        function setPagination(limit,offset,count,region,maxCoins,minCoins,date) {
    
            var previousButton = document.getElementById("previousButton");
            var nextButton = document.getElementById("nextButton");
            var currentLink = document.getElementById("currentLink");
            var previousLink = document.getElementById("previousLink");
            var nextLink = document.getElementById("nextLink");
            var firstLink = document.getElementById("firstLink");
            var lastLink = document.getElementById("lastLink");
    
            var numOfRecords = parseInt(count);
           console.log(numOfRecords);
    
            //var baseUrl = "/search?limit=" + limit + "&offset=";
            
           
            
            firstLink.onclick =function(){fetchPage(limit,0,region,maxCoins,minCoins,date)};
            previousButton.onclick = function(){fetchPage(limit,offset - limit,region,maxCoins,minCoins,date)};
            previousLink.onclick = function(){fetchPage(limit,offset - limit,region,maxCoins,minCoins,date)};
            currentLink.onclick = function(){fetchPage(limit,offset,region,maxCoins,minCoins,date)};
            nextLink.onclick =function(){fetchPage(limit,offset + limit,region,maxCoins,minCoins,date)};
            nextButton.onclick = function(){fetchPage(limit,offset + limit,region,maxCoins,minCoins,date)};
            lastLink.onclick = function(){fetchPage(limit,(Math.ceil(numOfRecords / limit) - 1) * limit),region,maxCoins,minCoins,date};

            // firstLink.href = baseUrl + 0;
            // previousButton.href = baseUrl + (offset - limit);
            // previousLink.href = baseUrl + (offset - limit);
            // currentLink.href = baseUrl + offset;
            // nextLink.href = baseUrl + (offset + limit);
            // nextButton.href = baseUrl + (offset + limit);
            // lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;
                  
            var currentPageNumber = Math.floor(offset / limit) + 1;
    
            previousLink.innerHTML = currentPageNumber - 1;
            currentLink.innerHTML = currentPageNumber;
            nextLink.innerHTML = currentPageNumber + 1;
            lastLink.innerHTML = Math.ceil(numOfRecords / limit); 
    
            if (offset < limit) {
                previousButton.setAttribute("disabled", true);
              //  previousButton.href = "";
                previousLink.style.display = "none";
            }
            else{
                previousButton.removeAttribute("disabled");
                previousLink.style.display = "block";
            }
    
            if (offset + limit >= numOfRecords) {
                nextButton.setAttribute("disabled", true);
               // nextButton.href = "";
                nextLink.style.display = "none";
            }
            else{
                nextButton.removeAttribute("disabled");
                nextLink.style.display = "block";
            }
        }
    
      
    
    </script>
     <script>
         async function submitForm(limit,offset){
            var myselected= document.getElementById("region");
            var index=myselected.selectedIndex;
            var region=myselected.options[index].text;
            var maxCoins=document.getElementById("maxCoins").value;
            var minCoins=document.getElementById("minCoins").value;
            var date=document.getElementById("date").value;
           fetchPage(limit,offset,region,maxCoins,minCoins,date);
         }

        async function fetchPage(limit,offset,region,maxCoins,minCoins,date){
            var response = await fetch("/search?limit="+limit+"&offset="+offset+"&region="+region+"&maxCoins="+maxCoins+"&minCoins="+minCoins+"&date="+date,{
                method:"post"
            });
            if(response.ok){
                
                var coupons = await response.json();
                console.log(coupons);
                var count=coupons[2];
                var dynamaticCode='';
                for(i=0;i<coupons.length-1;i++){
                    dynamaticCode+= '<div class="tile is-parent is-vertical"><article class="tile is-child box "><div class="card"><div class="card-image"><figure class="image is-4by3">';
                    dynamaticCode+='<a href="/detail/'+coupons[i].id+'"><img src="'+coupons[i].image+'" alt="Placeholder image"></a>';
                    dynamaticCode+='</figure>  </div><div class="card-content"><div class="media"><div class="media-content">';
                    dynamaticCode+='<p class="title is-4">'+coupons[i].restaurant +'</p>';
                    dynamaticCode+='</div></div><div class="content">'+coupons[i].detail+' <br>'+'coins:'+coupons[i].coins;
                    dynamaticCode+=' <br>                     </div></div></div></article></div>'
                }
                
                document.querySelector('#pdata').innerHTML=dynamaticCode;
                setPagination(limit,offset,count,region,maxCoins,minCoins,date);   
            }
            else{
                alert(response.status+":"+response.statusText);
            }
           
       
        }

     </script>